{% if action.method != "GET" %}
  <button {{ action.attr_string|safe }} {% if action.help_text %}help_text="{{ action.help_text }}"{% endif %} name="action" value="{{ action.table.name }}__{{ action.name }}__{{ row_id }}" type="submit">{{ action.verbose_name }}</button>
{% else %}

  {% if action.verbose_name == "调整云主机大小" %}
  <button {{ action.attr_string|safe }} {% if action.help_text %}help_text="{{ action.help_text }}"{% endif %} name="action" value="{{ action.table.name }}__{{ action.name }}__{{ row_id }}" type="submit" text='{{ action.bound_url }}'>{{ action.verbose_name }}</button>
<!--
    <a data-toggle="modal" href='#myModal' id='{{ action.bound_url }}'>{{ action.verbose_name }}</a>
-->
  {% else %}  
    <a href='{{ action.bound_url }}' {{ action.attr_string|safe }}>{{ action.verbose_name }}</a>
  {% endif %}
{% endif %}
